<header class="top-bar">
    <div class="brand">
        <h1>🍪 Supuissant</h1>
    </div>
    <div class="user-info">
        <span><strong><%= user %></strong></span>
        <a href="/logout" class="btn-logout">Déconnexion</a>
    </div>
</header>
