<!-- Panel 2: Cookie Central -->
<div class="cookie-panel">
    <div class="vignette"></div>
    <div class="cookie-wrapper">
        <div class="shine-halo"></div>
        <div id="cursor-container" class="cursor-container"></div>
        <img src="/images/cookie.png" id="main-cookie" alt="Cookie">
    </div>
</div>
